
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
     background: var(--logo_color);
     position: fixed;
     top: 0;
     left: 0;
     z-index: 999;
 }
 
 .container-fluid {
     font-size: 20px;
     font-family: var();
     font-weight: 400;
     font-style: normal;
     color: white !important;
 }
 
 .logo_text{
     font-size: 25px;
     font-family: var();
     font-weight: 400;
     font-style: normal;
     color: white !important;
     
 }
 
 .logo_text:hover{
     color: var(--color4) !important;
     cursor: pointer;
     
 }

 .navegacion__principal {
     display: flex;
     justify-content: space-around;
     gap: 10px;
     list-style: none;
     font-size: 20px;
     font-family: var(--texto);
     font-weight: 400;
     font-style: normal;
     color: white !important;
 }
 
 
 
 .items__nav{
     width: 78px;
     height: 22px;
     padding-top: 11px;
     border-radius: 20px;
     font-size: 12px;
     text-align: center;
     
 }
 
 .items__nav a {
     text-decoration: none;
     color: white;
     font-size: 15px;
     font-family: var(--texto);
     font-weight: 400;
     font-style: normal;
     color: white !important;
 }
 
 .items__nav{
     background-color: #4b003b;
     border: var(--color4) solid;
     width: 98px;
     height: 28px;
     padding-top: 15px;
     border-radius: 20px;
     text-align: center;
     font-size: 15px;
     font-family: var(--texto);
     font-weight: 400;
     font-style: normal;
     color: white !important;
 }

 /*Agregar sombra al boton*/
 .items__nav:hover {
   background: #92467c;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   cursor: pointer;
   opacity: 0,5;
 }

 