/*-----------fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
    --color1: #fff4ff;
    --color2: #fee8ff;
    --color3: #fedaff;
    --color4: #fcabf8;
    --color5: #f87af1;
    --color6: #ee47e4;
    --color7: #c224b5;
    --color8: #ae1d9f;
    --color9: #8e1a81;
    --color10: #741b67;
    --color11: #4e0444;
  }



body{
    font-family: 'Kaushan Script', cursive;
    font-size: 1em;
    background-color: linear-gradient(to right, var(--color5), var(--color10));
}




/*-----------HEADER SECTION---------------*/
header{
   padding: 0.5em;
   margin-top: 1rem;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.name__title{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}




.nav__list{
    display: flex;
    gap: 15px;
}

.nav__item{


    background-color: #ecb8f3;
    padding: 0.5em .8em;
    border-radius: 5em;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.nav__item:hover{
    background-color: var(--color11);
    scale: 1.2;
    box-shadow: 0 0 .5px var(--color11);
    color: var(--color1);
}




/*------------------MAIN SECTION-------------------*/
main{
    margin-bottom: 3em;
}

/*------------------ABOUT SECTION-------------------*/
.about_container{
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}

.container_about{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;

}

.row{
    display: flex;
    justify-content: center;
}

.container_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7rem;
    width: 100%;
    margin-right: 2em;
}

.container_text h2{
    font-size: 1.6rem;
    margin-bottom: 1em;
}
.container_text h2{
    animation: typing 3s steps(64);
}

.container_text p{
    animation: typing 3s steps(64);
}

@keyframes typing {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.container_text p strong{
    font-weight: bold;
}

.img_container img{
    width: 250px;
    height: 260px;
}


.img_container img{
    border-radius:  100%;
    box-shadow: #4e0444 0px 0px 10px;
}


.container_logos{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 1em;
}

.item_logos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    transition: 1s;
}


.item_logos:nth-child(1):hover{
    background-color: #ebc8eb;
    scale: 1.2;
    box-shadow: 1px 2px 10px #efaaef;
}

.item_logos:nth-child(2):hover{
    background: linear-gradient( #f9ce34b3, #ee2b7cb3, #6228d7b3);
    scale: 1.2;
    box-shadow: 1px 2px 10px #ecb8f3;
}

.item_logos:nth-child(3):hover{
    background: linear-gradient(#4134f9b3, #2bd7eeb3, #6228d7b3);
    scale: 1.2;
    box-shadow: 1px 2px 10px #101010;
}

.item_logos:nth-child(4):hover{
    background-color: #12860780;
    scale: 1.2;
    box-shadow: 1px 2px 10px #efaaef;
}

.item_logos img{
    width: 45px;
    transition: 0.8s;
}

.item_logos img:hover{
    transform: rotateY(360deg);
}

.item_logos:active{
    scale: 1;
}


/*-----------------------skills SECTION-------------------*/

.container_skills{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin: 0  auto;
    background: #ecb8f3;
    box-shadow: 22px 23px 110px #efaaef;
}

.text__skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    width: 80%;

}

.text__skills h2{
    margin-bottom: 1em;
}

.skills__container__list{
    display: flex;
    justify-content: space-around;
}

.skills__items{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills__items img{
    margin: 0.8em 0.8em;
    width: auto;
    height: 70px;
}

.skills__items:nth-child(1) img:hover{
    filter: invert(36%) sepia(86%) saturate(1110%) hue-rotate(342deg) brightness(91%) contrast(96%);
}

.skills__items:nth-child(2) img:hover{
    filter: invert(88%) sepia(78%) saturate(771%) hue-rotate(339deg) brightness(100%) contrast(94%);
}

.skills__items:nth-child(3) img:hover{
   filter:  invert(31%) sepia(91%) saturate(6008%) hue-rotate(229deg) brightness(93%) contrast(92%);
}


/*-----------------------HOBBIES SECTION-------------------*/

.container__hobbies{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin: 0 auto;
    margin-top: 2em;
    box-shadow: 22px 23px 110px #efaaef;
}

.text__hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    width: 80%;
}

.text__hobbies h2{
    margin-bottom: 1em;

}

.hobbies__list__container{
    display: flex;
    height: 150px;
    justify-content: space-around;
}

.img__hobbies{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__hobbies img{
    width: auto;
    height: 60px;
    margin-bottom: 0.5em;
    transition: 1s;
}

.img__hobbies:nth-child(1) img:hover{
    transform: rotateZ(360deg);
    transform-origin: top bottom;
}

.img__hobbies:nth-child(2) img:hover{
    transform: scale(1.4);
}

.img__hobbies:nth-child(3) img:hover{
    transform: rotate(-45deg);
}

.img__hobbies:nth-child(4) img:hover{
    transform: rotateY(180deg);
}


/*-----------------------FORMACION ACADEMICA SECTION-------------------*/

.formacion__container{
    display: flex;;
    flex-direction: column;
    padding: 50px 0;
    margin: 0 auto;
    margin-top: 2em;
    background-color: #ecb8f3;
    box-shadow: 22px 23px 110px #efaaef;
}

.text__formacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    width: 80%;
}

.text__formacion h2{
    margin-bottom: 1em;
}

.formacion__container__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formacion_items{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.formacion_items img{
    width: auto;
    height: 180px;
    border-radius: 10% 40%  10% 10%;
    margin: 1em 0;

}

.formacion_items:nth-child(1) img:hover{
    scale: 1.15;
}

.formacion_items:nth-child(3) img:hover{
    scale: 1.15;
}

/*-----------PROYECTOS SECTION----------*/

.container__proyect{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin: 0 auto;
    margin-top: 2em;
}

.text__proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    width: 80%;
}

.text__proyectos h2{
    text-align: center;
    margin-bottom: 1em;
}

.proyect__container__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    margin-top: 1em;
    align-items: center;
    box-shadow: 22px 23px 110px #efaaef;
    padding: 30px;
    border-radius: 50px;
}

.proyect__item__img{
    width: 100%;

}

.proyect__container__list:nth-child(2),
.proyect__container__list:nth-child(6),
.proyect__container__list:nth-child(10),
.proyect__container__list:nth-child(14){
    background: #ecb8f3;
}

.proyect__item{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.proyect__item img:first-child{
    transition: 1s;
}

.proyect__item img:hover:first-child{
    scale: 1.05;
}

.proyect__item__container{
    display: flex;
    flex-direction: column;
}

.proyect__item__title{
    font-weight: bold;
    margin-bottom: 1em;
}


.proyect__item__container p{
    font-size: 1.2rem;
}

.proyect__item__container p:nth-child(2){
    margin-bottom: 1em;
}

.proyect__item__container p img{
    margin: 0.8em 0.8em;
    width: auto;
    height: 70px;
}

.proyect__item__container p img:nth-child(2){
    filter: invert(36%) sepia(86%) saturate(1110%) hue-rotate(342deg) brightness(91%) contrast(96%);
}

.proyect__item__container p img:nth-child(3){
    filter: invert(31%) sepia(91%) saturate(6008%) hue-rotate(229deg) brightness(93%) contrast(92%);
}

.proyect__item__container p img:nth-child(4){
    filter: invert(88%) sepia(78%) saturate(771%) hue-rotate(339deg) brightness(100%) contrast(94%);
}

.experience_item img:nth-child(1){
    border-radius: 20% 10% / 10% 20%;
    width: auto;
    height: 400px;
    margin-right: 1.5em;
    box-shadow: 2px 3px 20px #efaaef;

}

.btn_github{
    font-size: 1.2rem;
    color: #101010;
    width: 160px;
    padding: 0.75em 1em;
    border-radius: 5em;
    cursor: pointer;
    box-shadow: 1px 2px 10px #101010;
    background: #d36fe7;
    transition: 0.5s;

}

.btn_github:hover{
    background-color: #ecb8f3;
    color: black;
    opacity: 0.8;
    scale: 1.2;
}

.btn_github:active{
    scale: 1;
    transition: 0.2s;
}

.btn_demo{
    text-align: center;
    font-size: 1.2rem;
    color: black;
    width: 160px;;
    padding: 0.75em 1em;
    border-radius: 5em;
    cursor: pointer;
    box-shadow: 1px 2px 10px #101010;
    margin-top: 1em;
    background: #d36fe7;
    transition: 0.5s;
}

.btn_demo:hover{
    scale: 1.2;
    background-color: #ecb8f3;
    color: black;
    opacity: 0.8;
    scale: 1.2;
}

.btn_demo:active{
    scale: 1;
    transition: 0.2s;
}



/*--------------Contact section-------------------*/



.contact_section{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    background: #ebcce9;
    box-shadow: 22px 23px 110px #101010;
}

.container_title_contact{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
}

.info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 22px #101010;
    border-radius: 5%;
    width: 400px;
    height: 500px;
    text-align: center;
    margin-right: 2em;
    background-color: #ecb8f3;}

.info_container h3{
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.contact_img{
    box-shadow: 1px 2px 22px #ecb8f3;
    border-radius: 100%;
    width: auto;
    height: 200px;
    margin-bottom: 2em;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1em;
}

.contact_item_container{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.contact_item_container img{
    width: auto;
    height: 40px;
    margin-right: 1em;
}

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.form_container_texts{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}


.form_container_texts label{
    font-size: 1.1rem;
    text-align: left;
}

#alert_nombre,
#alert_correo,
#alert_asunto,
#alert_msj{
    display: none;
    text-align: left;
    font-size: .8rem;
    margin-top: 0.3em;
}

.input_padron{
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 100%;
    padding: 10px 25px;
    border-radius: 20px;
}

.input_padron:hover{
    background-color: #efaaef;
}

#mensaje{
    resize: none;
}

.enviarFormulario {
    width: 200px;
    padding: 15px 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    background: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
    transition: 1s;
}

.enviarFormulario:hover {
    background-color: #efaaef;
    scale: 1.2;
    opacity: 0.8;
}

footer{
    margin: 1em 0;
    font-size: 1.2rem;
    text-align: center;
}




/*-----------------------RESPONSIVE DESIGN --------------------------------------*/

@media (min-width: 320px) and (max-width: 599px){

    /*-----------HEADER SECTION---------------*/
    .nav__container{
        width: 100%;
        align-items: center;
        font-size: .8rem;
        padding: 0 1.5em 0 1em;
    }

    .name__title{
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
    }

    .name__title:hover{
        transform: rotateY(0deg);
        cursor: default;
        scale: 1;

    }

    .nav__list{
        justify-content: flex-end;

    }


    .nav__item:nth-child(1),
    .nav__item:nth-child(2),
    .nav__item:nth-child(3),
    .nav__item:nth-child(4),
    .nav__item:nth-child(5){
        display: none;
    }


    /*-----------ABOUT SECTION---------------*/

    .about_container{
        padding-bottom: 35px;
    }

    .container_text{
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .container_text h2{
        text-align: center;
        font-size: 1.8rem;
    }

    .row{
        flex-direction: column;
    }

    .container_logos{
        margin-top: 1.5em;
        justify-content: center;
    }

    /*-----------SKILLS SECTION---------------*/

    .container_skills{
        padding-bottom: 35px;

    }


    .text__skills{
        width: 100%;
    }

    .text__skills h2{
        font-size: 1.5rem;
    }

    .skills__container__list{
        flex-direction: flex-start;
        justify-content: center;
        gap: 0.5em;
    }

    .skills__item{
        font-size: 1.2rem;
    }

    .skills__item img{
        height: 70px;
    }



    /*-----------HOBBIES SECTION---------------*/

    .text__hobbies{
        width: 100%;
    }


    .text__hobbies h2{
        font-size: 1.5rem;
    }

    .hobbies__list__container{
        gap: 0.5em;
        flex-wrap: wrap;
        height: auto;
    }
    .img__hobbies{
        font-size: 1.2rem;
        width: 40%;
    }


    /*-----------FORMACION ACADEMICA SECTION---------------*/

    .text__formacion h2{
        width: 100%;
        font-size: 1.5rem;
    }

    .formacion__container{
        padding-bottom: 35px;
    }

    .formacion__container__list{
        flex-direction: column;
    }

    .formacion_items{
        width: auto;
        font-size: 1.2rem;
    }

    .formacion_items:nth-child(2){
        height: 50px;
        transform: rotate(180deg);
        margin: 2em 0;
    }

    .formacion_items:nth-child(4){
        height: 50px;
        transform: rotate(180deg);
        margin: 2em 0;
    }



    /*-----------PROYECTOS SECTION---------------*/

    .container__proyect{
       margin-top: 0;
    }

    .text__proyectos{
        height: auto;
        width: 100%;
    }

    .text__proyectos h2{
        font-size: 1.5rem;
    }

    .proyect__container__list{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .proyect__item{
        flex-direction: column;
    }

    .proyect__item:nth-child(1) img{
        width: 30%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 1em;

    }


    .proyect__item__title{
        font-size: 1.2rem;

    }

    .proyect__item__continer:nth-child(2) img{
        height: 50px;
        transform: rotate(180deg);
        margin: 2em 0;
    }

    .btn_github,
    .btn_demo{
        text-align: center;
        font-size: 1rem;
        width: 60%;
        margin: 5px auto;
    }


    /*-----------CONTACT SECTION---------------*/

    .container_title_contact{
        font-size: 1.5rem;
    }



    .info_container{
        width: 100%;
        height: 420px;
        margin: 0;
        margin-bottom: 2em;
    }

    .info_container h3{
        font-size: 1.3rem;
    }

    .contact{
        font-size: 1rem;
    }

    .form_container{
        width: 100%;
    }

    .form_container h3{
        font-size: 1.3rem;
    }

    footer{
        font-size: 1rem;
        height: 70px;
        line-height: 70px;
    }

    footer{
        background: #cba3e2b2;
        color: black;
        text-align: center;
    }


}



/*------------------RESPONSIVE PARA TABLET------------------*/
@media(min-width:600px) and (max-width:1024px){

 /*-----------HEADER SECTION---------------*/
 .nav__container{
    width: 100%;
    align-items: center;
    font-size: .8rem;
    padding: 0 1.5em 0 1em;
}

.name__title{
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.name__title:hover{
    transform: rotateY(0deg);
    cursor: default;
    scale: 1;

}

.nav__list{
    justify-content: flex-end;

}


.nav__item:nth-child(1),
.nav__item:nth-child(2),
.nav__item:nth-child(3),
.nav__item:nth-child(4),
.nav__item:nth-child(5){
    display: none;
}


/*-----------ABOUT SECTION---------------*/

.about_container{
    padding-bottom: 35px;
}

.container_text{
    margin: 0 auto;
    margin-bottom: 1em;
}

.container_text h2{
    text-align: center;
    font-size: 1.8rem;
}

.row{
    flex-direction: column;
}

.container_logos{
    margin-top: 1.5em;
    justify-content: center;
}

/*-----------SKILLS SECTION---------------*/

.container_skills{
    padding-bottom: 35px;

}


.text__skills{
    width: 100%;
}

.text__skills h2{
    font-size: 1.5rem;
}

.skills__container__list{
    flex-direction: flex-start;
    justify-content: center;
    gap: 0.5em;
}

.skills__item{
    font-size: 1.2rem;
}

.skills__item img{
    height: 70px;
}



/*-----------HOBBIES SECTION---------------*/

.text__hobbies{
    width: 100%;
}


.text__hobbies h2{
    font-size: 1.5rem;
}

.hobbies__list__container{
    gap: 0.5em;
    flex-wrap: wrap;
    height: auto;
}
.img__hobbies{
    font-size: 1.2rem;
    width: 40%;
}


/*-----------FORMACION ACADEMICA SECTION---------------*/

.text__formacion h2{
    width: 100%;
    font-size: 1.5rem;
}

.formacion__container{
    padding-bottom: 35px;
}

.formacion__container__list{
    flex-direction: column;
}

.formacion_items{
    width: auto;
    font-size: 1.2rem;
}

.formacion_items:nth-child(2){
    height: 50px;
    transform: rotate(180deg);
    margin: 2em 0;
}

.formacion_items:nth-child(4){
    height: 50px;
    transform: rotate(180deg);
    margin: 2em 0;
}



/*-----------PROYECTOS SECTION---------------*/

.container__proyect{
   margin-top: 0;
}

.text__proyectos{
    height: auto;
    width: 100%;
}

.text__proyectos h2{
    font-size: 1.5rem;
}

.proyect__container__list{
    justify-content: center;
    align-items: center;
}

.proyect__item{
    flex-direction: column;
}

.proyect__item:nth-child(1) img{
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1em;

}


.proyect__item__title{
    font-size: 1.2rem;

}

.proyect__item__continer:nth-child(2) img{
    height: 50px;
    transform: rotate(180deg);
    margin: 2em 0;
}

.btn_github,
.btn_demo{
    text-align: center;
    font-size: 1rem;
    width: 60%;
    margin: 5px auto;
}


/*-----------CONTACT SECTION---------------*/

.container_title_contact{
    font-size: 1.5rem;
}



.info_container{
    width: 100%;
    height: 420px;
    margin: 0;
    margin-bottom: 2em;
}

.info_container h3{
    font-size: 1.3rem;
}

.contact{
    font-size: 1rem;
}

.form_container{
    width: 100%;
}

.form_container h3{
    font-size: 1.3rem;
}

footer{
    font-size: 1rem;
    height: 70px;
    line-height: 70px;
}

footer{
    background: #cba3e2b2;
    color: black;
    text-align: center;
}


}